@model System.Security.Cryptography.X509Certificates.X509Certificate2

@if (Model != null)
{
<table class="table">
    <tr>
        <th>Subject Name</th>
        <td>@Model.SubjectName.Name</td>
    </tr>
    <tr>
        <th>Валиден до</th>
        <td>@Model.NotAfter</td>
    </tr>
    <tr>
        <th>Валиден от</th>
        <td>@Model.NotBefore</td>
    </tr>
    <tr>
        <th>Сериен номер</th>
        <td>@Model.SerialNumber</td>
    </tr>
</table>
}
else
{
    <text>Няма данни</text>
}

