@{
    ViewBag.Title = "Твърде много заявки";
}

<div class="panel panel-info">
    <div class="panel-heading"></div>
    <div class="panel-body">
        Посетили сте тази страница твърде много пъти през последната минута. Моля изчакайте 1 минута и се върнете назад (с бутона във Вашия браузър).
    </div>
</div>
