<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Начало", "Index", "Home")</li>
    <li>@Html.ActionLink("Услуги", "Index", "Call")</li>
    <li>@Html.ActionLink("Админ", "Index", "Admin")</li>
</ul>
