@{
    ViewBag.Title = string.Empty;
    bool userHasNoPassword = Request.QueryString["noPassword"] == bool.TrueString;
}

@section Subtitle {
    @Html.Partial("_MinistryCouncilHeaderPartial")
}

@if (userHasNoPassword)
{
    <div class="h2 row">
        <div class="col-md-offset-2 col-md-10">За този потребител още не е избрана парола</div>
    </div>
    <div class="row h4">
        <div class="col-md-offset-2 col-md-10">
            Моля проверете пощата си.<br />
            Ще получите връзка за първоначално задаване на парола.<br />
        </div>
    </div>
}
else
{
    <div class="h2 row">
        <div class="col-md-offset-2 col-md-10">Забравена парола?</div>
    </div>
    <div class="row h4">
        <div class="col-md-offset-2 col-md-10">
            Моля проверете пощата си. Ще получите връзка за нулиране на старата парола.<br />
            Щракнете я и ще може да изберете нова парола.
        </div>
    </div>
}
<div class="row">
    <div class="col-md-offset-2 col-md-10 help-block">
        <i>(може да затворите тази страница)</i>
    </div>
</div>
