@model Nullable<DateTime>
@using System.Reflection

@{
    //TODO - комбиниране на външните htmlAttributes с class = 'form-control'
    Object viewDataHtmlAttributes = ViewData["htmlAttributes"];
}

<div class='input-group date datepicker2' style="padding: 0px;">
    @Html.TextBox("", (Model.HasValue ? Model.Value.ToString("dd/MM/yyyy") : string.Empty),
        viewDataHtmlAttributes != null ? viewDataHtmlAttributes : new { @class = "form-control" })
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>

