<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Конфигурацията за извикване на RegiX е копирана от тук:
    http://regixaisweb.egov.bg/RegiXInfo/RegiXGuides/#!Documents/endpoint.htm -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="SSLClientAuth" maxReceivedMessageSize="10000000">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RegiXClientCertificate">
          <clientCredentials>
            <clientCertificate x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My" findValue="b572ee461b4d252ae9c7363e391aafc657f2c47d" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://regix-service-test.egov.bg/RegiX/RegiXEntryPoint.svc"
        binding="wsHttpBinding" bindingConfiguration="SSLClientAuth"
        contract="RegiXServiceReference.IRegiXEntryPoint" name="WSHttpBinding_IRegiXEntryPoint" />
    </client>
  </system.serviceModel>
</configuration>