<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Следват примери за настройките, които се използват в този проект.
    Реалните им стойности трябва да се укажат в главния проект (Kontrax.Regux.Portal или друг), а не тук. -->
  <appSettings>
    <add key="RegiXLogEnabled" value="True" />
    <add key="RegiXLogDirectory" value="D:\" />
  </appSettings>
  <!-- Конфигурацията за извикване на RegiX е копирана от тук:
    http://regixaisweb.egov.bg/RegiXInfo/RegiXGuides/#!Documents/endpoint.htm
    http://regixaisweb.egov.bg/RegiXInfo/RegiXGuides/#!Documents/token.htm -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IRegiXEntryPoint" maxReceivedMessageSize="10000000">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="eAuthBehaviorExtension" type="Kontrax.Regux.RegiXClient.EAuth.EAuthEndpointBehavior, Kontrax.Regux.RegiXClient" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RegiXClientCertificateWithEAuth">
          <clientCredentials>
            <clientCertificate x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My" findValue="6d351a75bc632cfe62ec413af708b81dce3b84cf" />
          </clientCredentials>
          <eAuthBehaviorExtension />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://regix-service-test.egov.bg/RegiX/RegiXEntryPoint.svc"
                behaviorConfiguration="RegiXClientCertificateWithEAuth"
                binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IRegiXEntryPoint"
                contract="RegiXServiceReference.IRegiXEntryPoint"
                name="WSHttpBinding_IRegiXEntryPoint" />
    </client>
  </system.serviceModel>
</configuration>