<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- Следват примери за настройките, които се използват в този проект.
    Реалните им стойности трябва да се укажат в главния проект (Kontrax.Regux.Portal или друг), а не тук. -->
  <appSettings>
    <add key="DevModeEnabled" value="True" />
    <add key="RegiXAdaptersPath" value="\\files\Documents\Projects\Execution\2018-04-15 МС - удостоверения\RegiX\Adapters\От regixaisweb.egov.bg" />
    <add key="IisdaLogEnabled" value="True" />
    <add key="IisdaLogDirectory" value="D:\" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdmServicesService" />
        <binding name="BasicHttpsBinding_IAdmServicesService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBatchInfoService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://iisda.government.bg/Services/RAS/RAS.Integration.Host/BatchInfoService.svc"
                binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IBatchInfoService"
                contract="BatchInfoServiceReference.IBatchInfoService"
                name="WSHttpBinding_IBatchInfoService" />
      <endpoint address="http://iisda.government.bg/Services/AdmServices/AdministrativeServices.IntegrationServices/AdmServicesService/AdmServicesService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAdmServicesService"
                contract="AdmServicesServiceReference.IAdmServicesService"
                name="BasicHttpBinding_IAdmServicesService" />
      <endpoint address="https://iisda.government.bg/Services/AdmServices/AdministrativeServices.IntegrationServices/AdmServicesService/AdmServicesService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpsBinding_IAdmServicesService"
                contract="AdmServicesServiceReference.IAdmServicesService"
                name="BasicHttpsBinding_IAdmServicesService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>