<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.8.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EPPlus" version="4.1.1" targetFramework="net461" />
  <package id="ExCSS" version="2.0.6" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.6.16" targetFramework="net461" />
  <package id="HtmlRenderer.Core" version="1.5.0.6" targetFramework="net461" />
  <package id="HtmlRenderer.PdfSharp" version="1.5.0.6" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="OpenXmlPowerTools" version="4.5.3.2" targetFramework="net461" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.5.0-preview1-26108-02" targetFramework="net461" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net461" />
  <package id="TsSoft.Docx.TemplateEngine" version="1.1.5667.30206" targetFramework="net461" />
</packages>