@model IEnumerable<Kontrax.Regux.Public.Portal.Models.SignalViewModel>

<link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet" async />

<div class="container-fluid">
    <h2 class="panel-heading text-info"><i class="fa fa-history"></i> История на подадените сигнали и предложения</h2>
    <hr />
    @(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(m => m.ServiceType).Titled(Html.DisplayNameFor(model => model.First().ServiceType));
        columns.Add(m => m.SubmitDateTime).Titled(Html.DisplayNameFor(model => model.First().SubmitDateTime));
        columns.Add(m => m.ServiceName).Titled(Html.DisplayNameFor(model => model.First().ServiceName));
        columns.Add(m => m.AdministrationName).Titled(Html.DisplayNameFor(model => model.First().AdministrationName));
        columns.Add(m => m.EmployeeName).Titled(Html.DisplayNameFor(model => model.First().EmployeeName));
        columns.Add(m => m.IncidentDateTime).Titled(Html.DisplayNameFor(model => model.First().IncidentDateTime));
        columns.Add(m => m.SenderNote).Titled(Html.DisplayNameFor(model => model.First().SenderNote));
        //columns.Add(m => m.Id).Titled("").Encoded(false).RenderedAs(model => Html.Raw("<a target=\"_blank\" href=\"" + Url.Action("Details", new { id = model.Id }) + "\"><span class=\"glyphicon glyphicon-eye-open\" data-toggle=\"tooltip\" title=\"детайли\"></span></a>")).Filterable(false);
    })
    .Filterable()
    .Sortable(true)
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 10;
        pager.RowsPerPage = 10;
    })
    .Empty("Не са открити елементи")
    .Css("table table-hover")
    )
</div>

@section scripts{
    <script src="~/Scripts/locales/mvc-grid.bg.js"></script>
    <script>
        $(function () {
            $('.mvc-grid').mvcgrid();
        });
    </script>
}